body {
  color: #22313f;
}

.jumbotron {
  padding: 0 0;
  z-index: 1;
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 400px;
}

.jumbotron .container {
  color: #d24d57;
  text-shadow: 0 1px 1px #eee;
  text-align: center;
}

#jumbotronMap {
  z-index: 0;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}